# Ignore all Maven build outputs
/target/

# Ignore specific types of result files
*.jar
*.json

# Ignore Allure and other test result files if not needed in commits
/allure-results/
/surefire-reports/